<?xml version="1.0" ?>
<model>
    <name>depth</name>
    <version>1.0</version>
    <sdf version="1.6">depth.sdf</sdf>
    
    <author>
        <name>zy</name>
        <email>zy@126.com</email>
    </author>

    <description>
        model name="depth"
        	...
        	link name="depth_link"
        		sensor name="color" type="camera"
        			camera name="realsense_camera"
        		sensor name="ired" type="multicamera"
        			camera name="ired1"
        			camera name="ired2"
        			plugin name="camera_ired" filename="libgazebo_ros_camera.so"
		          	    namespace:ired
				    remapping:ired_cam/ired1/image_raw:=ired_cam/ired1/image_raw
				    remapping:ired_cam/ired2/image_raw:=ired_cam/ired2/image_raw
				    remapping:ired_cam/ired1/camera_info:=ired_cam/ired1/camera_info
				    remapping:ired_cam/ired2/camera_info:=ired_cam/ired2/camera_info
        		sensor name="depth" type="depth"
        			camera name="depth_camera"
        			plugin name="camera_depth" filename="libgazebo_ros_camera.so"
        			    namespace:depth
				      remapping:depth_cam/image_raw:=image_raw
				      remapping:depth_cam/depth/image_raw:=depth/image_raw
				      remapping:depth_cam/camera_info:=camera_info
				      remapping:depth_cam/depth/camera_info:=depth/camera_info
				      remapping:depth_cam/points:=/realsense_plugin/camera/local_pointclouds
				      
		        Image.msg
		        PointCloud2.msg
		        PointCloud.msg  3D
		        CameraInfo.msg
		        
					
      
    </description>
</model>
