<?xml version="1.0"?>

<model>
  <name>hokuyo_ust_20lx</name>
  <version>1.0</version>
  <sdf version='1.6'>hokuyo_ust_20lx.sdf</sdf>

  <author>
   <name>zy</name>
   <email>zy@126.com</email>
  </author>

  <description>
    hokuyo_ust_20lx.  捕获的数据在topic：/lidar_2D/laserscan
    	plugin：
		name="lidar_2D" filename="libgazebo_ros_ray_sensor.so"
		namespace：/lidar_2D
		remapping：~/out:=laserscan
		frame_name：lidar_link
		output_type：sensor_msgs/LaserScan
		    
  </description>
</model>

